{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for shares in shares_list %}
            {% if shares.shares == 0 %}
                <tr>
                </tr>
            {% else %}
                <tr>
                    <td class="text-start">{{shares.symbol}}</td>
                    <td class="text-start">{{shares.name}}</td>
                    <td class="text-end">{{shares.shares}}</td>
                    <td class="text-end">{{shares.price | usd}}</td>
                    <td class="text-end">{{shares.total | usd}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">{{avaiable_cash | usd}}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">{{total_cash |usd}}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}